{% extends "ephios_material_checklists/base.html" %}
{% load i18n %}

{% block checklists_header_content %}
    {% include 'ephios_material_checklists/fragments/checklist_header.html' with checklist=this_checklist active_tab="edit" %}
{% endblock checklists_header_content %}

{% block checklists_content %}

    <p class="mb-0">
        <a class="btn btn-primary btn-block" href="{% url 'ephios_material_checklists:checklist_edit_details' this_checklist.pk %}" role="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Kenndaten Bearbeiten
        </a>
        <a class="btn btn-primary btn-block" href="{% url 'ephios_material_checklists:checklist_edit_pdf' this_checklist.pk %}" role="button">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF-Datei Hinterlegen
        </a>
        <a class="btn btn-danger btn-block" href="{% url 'ephios_material_checklists:checklist_delete' this_checklist.pk %}" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i> Checkliste Löschen
        </a>
    </p>

{% endblock %}