{% extends "ephios_material_checklists/base.html" %}
{% load i18n %}

{% block checklists_header_content %}
    {% include 'ephios_material_checklists/fragments/checklist_header.html' with checklist=this_checklist active_tab="overview" %}
{% endblock checklists_header_content %}

{% block checklists_content %}

    <h3>{% translate "Statistics" %}</h3>

    <ul>
        <li>{% translate "Last edited" %}: <strong>XXXX</strong></li>
        <li>{% translate "Contents" %}:
            <strong>{{ this_checklist.get_item_count }} {% translate "Items" %}</strong>
            ({{ this_checklist.get_merged_entry_count }} {% translate "Types" %})</li>
        <li>{% translate "Used for" %}:
            <strong>{{ this_checklist.get_item_count }} {% translate "Resources" %}</strong>
    </ul>


    {% if this_checklist.file %}

        <h3>{% translate "Document" %}</h3>

        <a class="btn btn-primary btn-block" href="{{ this_checklist.file.url }}">
            <i class="fa fa-download"></i>
            {% translate "Download as PDF Document" %}
        </a>
        <p class="text-secondary text-left">{% translate "PDF-File" %}; {{ this_checklist.file.size | filesizeformat  }}</p>
    {% endif %}

{% endblock %}