{% extends "ephios_material_checklists/base.html" %}
{% load i18n %}


{% block checklists_header_content %}
    <h2>
        {% translate "Edit material types" %}
        <div class="float-end">
            <a class="btn btn-secondary btn-sm m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:checklist_list" %}"><span
                class="fa fa-arrow-left"></span> <span>{% translate "Back to Checklist Overview" %}</span></a>
        </div>
    </h2>
{% endblock %}

{% block checklists_content %}

    <div class="card mb-2">
        <div class="card-body pt-2">
            <ul class="list-group list-group-flush" data-formset-body>
                {% for category in itemtypecategory_list %}
                    <li class="list-group-item flex-fill flex-row">
                        <div class="row m-1 p-2">
                            <div class="col-12 justify-content-between">
                                <h4 class="mb-0 d-inline-flex break-word">
                                    {{ category.name }}
                                </h4>
                                <span class="align-text-top badge rounded-pill bg-secondary ml-4">
                                    {{ category.items.all|length }}
                                </span>
                                <div class="float-end">
                                    <a class="btn btn-primary btn-sm m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:itemtype_edit" category.pk %}">
                                        <span class="fa fa-list"></span> <span>{% translate "Edit Category Contents" %}</span></a>
                                    <a class="btn btn-primary btn-sm m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:itemtype_category_edit" category.pk %}">
                                        <span class="fa fa-edit"></span> <span>{% translate "Edit Category" %}</span></a>
                                    <a class="btn btn-danger btn-sm m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:itemtype_category_delete" category.pk %}">
                                        <span class="fa fa-trash"></span> <span>{% translate "Delete Category" %}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-1 p-2 mb-3">
                            {% include 'ephios_material_checklists/fragments/itemtype_list_columns.html' with itemtypes=category.items.all font_class="text-body-secondary" %}
                        </div>
                    </li>
                {% endfor %}
                <li class="list-group-item p-0 flex-fill flex-row">
                    <div class="d-block p-3 text-center text-body-secondary">
                        <a class="btn btn-primary btn-md m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:itemtype_category_add" %}"><span
                            class="fa fa-plus"></span> <span>{% translate "Create material type category" %}</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}