{% extends "ephios_material_checklists/base.html" %}
{% load i18n %}
{% load checklists_extras %}


{% block checklists_header_content %}
    <h2>
        {% translate "Edit material types" %}
        <div class="float-end">
            <a class="btn btn-secondary btn-sm m-1 ms-0 text-nowrap" href="{% url "ephios_material_checklists:checklist_list" %}"><span
                class="fa fa-arrow-left"></span> <span>{% translate "Back to Checklist Overview" %}</span></a>
        </div>
    </h2>
{% endblock %}

{% block checklists_content %}

    {% regroup itemtype_list by category as category_list %}

    <ul class="list-group my-3">
        {% for category, itemtype_list in category_list %}
            <li class="list-group-item p-0 flex-fill flex-row">
                <div class="row m-1 p-2 pb-0 mb-0">
                    <div class="col-12">
                        <h4 class="mb-0 text-break">
                            {{ category.name }} ({{ itemtype_list|length }})
                            <div class="float-end">
                                <a class="btn btn-primary btn-sm m-1 ms-0 text-nowrap" href=""><span
                                    class="fa fa-edit"></span> <span>{% translate "Edit Category" %}</span></a>
                            </div>
                            <div class="float-end">
                                <a class="btn btn-primary btn-sm m-1 ms-0 text-nowrap" href=""><span
                                    class="fa fa-list"></span> <span>{% translate "Edit Category Contents" %}</span></a>
                            </div>
                        </h4>
                    </div>
                </div>
                <div class="row m-1 p-2 pt-0">
                    {% for itemtype_chunk in itemtype_list|chunks:3 %}
                        <div class="col-12 col-md-6 col-lg-4 p-0 m-0">
                            <ul>
                                {% for itemtype in itemtype_chunk %}
                                    <li class="text-body-secondary">{{ itemtype.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% empty %}
            <div class="mb-3">
                <h5 class="mt-5 text-center">
                    {% translate "No results" %}
                </h5>
            </div>
        {% endfor %}
    </ul>

{% endblock %}