{% extends "ephios_material_checklists/base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}


{% block checklists_header_content %}
    <h2>
        {% translate "Delete item type category" %}
    </h2>
{% endblock %}


{% block checklists_content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="alert alert-danger pb-1 mb-4 mt-4">
            <h4 class="text-danger bold mb-4">
                {% blocktranslate trimmed %}
                    Are you sure you want to delete the item type category {{ itemtypecategory }}?
                {% endblocktranslate %}
            </h4>

            {% if itemtypecategory.items.all %}
                <p class="text-danger">
                    {% translate "The following item types from this category will be deleted as well:" %}
                </p>
                <div class="row m-1 p-2">
                    {% include 'ephios_material_checklists/fragments/itemtype_list_columns.html' with itemtypes=itemtypecategory.items.all font_class="text-danger" %}
                </div>
                <p class="text-danger">
                    {% translate "Caution: All checklist entries containing these item types will also be deleted." %}
                </p>
            {% else %}
                <p class="text-danger">
                    {% translate "There are no item types in this category yet." %}
                </p>
            {% endif %}
        </div>

         <a class="btn btn-secondary" href="{% url 'ephios_material_checklists:itemtype_category_list' %}" role="button">
            <span class="fa fa-times" aria-hidden="true"></span>
            {% translate "Aboard delete" %}
        </a>
        <input type="submit" class="btn btn-danger ml-1" value="{% translate "Delete" %}">

    </form>
{% endblock %}
